<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>JWT Data Access Token Details</title>
</head>
<body>

<h2>Your Cybotix data access JWT:</h2>
<p><strong>Encoded:</strong> <%= token %></p>

<h2>Decoded JWT:</h2>
<h3>Payload:</h3>
<ul>
  <% for(let key in parsedPayload) { %>
    <li><strong><%= key %>:</strong> <%= parsedPayload[key] %></li>
  <% } %>
</ul>
<h3>Data grant, subject:</h3>
<ul>
  <% for(let key in datagrant_subject) { %>
    <li><strong><%= key %>:</strong> <%= datagrant_subject[key] %></li>
  <% } %>
</ul>
<h3>Data grant, requests:</h3>
<ul>
  <% for(let key in datagrant_requests) { %>
    <li><strong><%= key %>:</strong> <%= JSON.stringify(datagrant_requests[key]) %></li>
  <% } %>
</ul>
<p><strong>Header:</strong> <%= decodedHeader %></p>

<p><strong>Signature:</strong> <%= signature %></p>

Validate the signature with the public key below
<pre><%= publicKey %></pre>
<h2>Instructions:</h2>
<ol>
    <li>To verify the token:</li>
        <ul>
            <li>Copy the encoded token.</li>
            <li>Visit <a href="https://jwt.io" target="_blank">jwt.io</a>.</li>
            <li>Paste the token into the "Encoded" input box. You should see the decoded header and payload on the site.</li>
        </ul>
    <li>To verify the timestamp:</li>
        <ul>
            <li>From the decoded payload, locate the 'iat' or 'exp' fields which represent timestamps.</li>
            <li>Copy the timestamp value.</li>
            <li>Visit <a href="https://www.epochconverter.com/" target="_blank">epochconverter.com</a>.</li>
            <li>Paste the timestamp into the converter to see the corresponding date and time.</li>
        </ul>
</ol>
<p><strong>Data:</strong></p>
<% if(data && data.length > 0) { %>
<table border="1">
  <!-- Table Header -->
  
  <thead>
      <tr>
          <th>time</th>
          <th>URL</th>
      </tr>
  </thead>
  <!-- Table Body -->
  <tbody>
   
   

    <% data.forEach((item) => { %>
      <tr>
          <td><%= item.utc %></td>
          <td><%= item.url %></td>
      </tr>
  <% }); %>
</tbody>
</table>
<% } else { %>
  No data returned.
 <% } %>

</body>
</html>
